<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e540c51a-40a6-4ccc-a063-9e174c61d6c3/resourceGroups/BabyStore/providers/Microsoft.Web/sites/BabyStoreBandi</ResourceId>
    <ResourceGroup>BabyStore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://babystorebandi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>babystorebandi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BabyStoreBandi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BabyStoreBandi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:babystoreserver.database.windows.net,1433;Initial Catalog=aspnet-BabyStore-Identity;User ID=babystoreadmin@babystoreserver.database.windows.net;Password=Andris2174." Name="Data Source=tcp:babystoreserver.database.windows.net,1433;Initial Catalog=aspnet-BabyStore-Identity;User Id=babystoreadmin@babystoreserver.database.windows.net;Password=Andris2174.;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BabyStore.Models.ApplicationDbContext, BabyStore" MigrationConfiguration="BabyStore.Migrations.Configuration, BabyStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StoreContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:babystoreserver.database.windows.net,1433;Initial Catalog=BabyStore;User ID=babystoreadmin@babystoreserver.database.windows.net;Password=Andris2174." Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BabyStore.DAL.StoreContext, BabyStore" MigrationConfiguration="BabyStore.Migrations.StoreConfiguration.StoreConfiguration, BabyStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StoreContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:babystoreserver.database.windows.net,1433;Initial Catalog=BabyStore;User ID=babystoreadmin@babystoreserver.database.windows.net;Password=Andris2174.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:babystoreserver.database.windows.net,1433;Initial Catalog=aspnet-BabyStore-Identity;User Id=babystoreadmin@babystoreserver.database.windows.net;Password=Andris2174.;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>